* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    width      : 1917px;
    height     : 917px;
    top        : -422px;
    left       : -959px;
    padding    : 70px 194px 30px 194px;
    background : #FFFDF4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.main {
    width  : 1529px;
    height : 768px;
    display: grid;
    gap    : 40px;
}

.title {
    width  : 519px;
    height : 154px;
    display: grid;
    gap    : 20px;
}

h1 {
    width: 310px;
    height        : 53px;
    font-size     : 45px;
    line-height   : 53px;
    letter-spacing: -3.6px;
    color         : #374639;
}

.title p {
    height     : 81px;
    font-size  : 19px;
    line-height: 27px;
    color      : #3F514B;
}

.list {
    height               : 574px;
    display              : grid;
    grid-template-columns: auto auto auto auto;
    gap                  : 23px;
}

.list-item {
    width  : 365px;
    display: grid;
    gap    : 18px
}

.image1 {
    background: url("./asset/1.jpg");
    display   : block;
}

.cut1 {
    width              : 365px;
    height             : 266px;
    background-position: -18px -1px;
}

.image2 {
    background: url("./asset/2.jpg");
    display   : block;
}

.cut2 {
    width : 365px;
    height: 266px;
}

.image3 {
    background: url("./asset/3.jpg");
    display   : block;
}

.cut3 {
    width              : 365px;
    height             : 266px;
    background-position: -19px 0;
}

.course {
    width   : 360px;
    height  : 290px;
    display : grid;
    gap     : 20px;
    position: relative;
}

.content {
    width  : 308px;
    height : 134px;
    display: grid;
    gap    : 6px;
}

.subtitle {
    width  : 308px;
    height : 105px;
    display: grid;
    gap    : 8px;
}

.name {
    width         : 180px;
    height        : 25px;
    font-size     : 20px;
    line-height   : 25px;
    letter-spacing: -1px;
    color         : #414F42;

}

.description {
    width      : 308px;
    height     : 72px;
    font-size  : 17px;
    line-height: 24px;
    color      : #3F514B;
}

.price {
    display: flex;
    width  : 85px;
    height : 23px;
    gap    : 6px;
}

#gia-goc {
    width          : 34px;
    height         : 23px;
    font-size      : 14px;
    line-height    : 23px;
    letter-spacing : -1.3px;
    color          : #72776C;
    text-decoration: line-through;
}

#kh-mai {
    width      : 45px;
    height     : 23px;
    font-size  : 18px;
    line-height: 23px;
    color      : #3F514B;
}

.schedules {
    height: 136px;
}

.schedule {
    display: flex;
}

#time {
    width      : 53px;
    height     : 18px;
    line-height: 18px;
    margin     : 15px 20px 11px 1px;
    font-size  : 15px;
    color      : #72776C;
}

#content {
    height     : 24px;
    line-height: 24px;
    font-size  : 14px;
    margin     : 12px 0 8px;
    color      : #4e5c58;
}

hr {
    border    : none;
    height    : 1px;
    background: #ECEDEC;
}
